@use "mixins" as *;

.header {
  @include z-index(max);

  position: sticky;
  top: 0;
  left: 0;
}

.header__container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}